<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/public/css/globals.css" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<div>
				<a href="/create/restaurant/">Create Review</a>
				<a href="/auth/login">Login</a>
			</div>
		</nav>
		<main>
			{{{body}}}
		</main>
	</body>
</html>