<form id="searchDish" action="javascript:void(0);">
	<label for="dishName">Search dish name</label>
	<input type="text" name="dishName" id="dishName" />
	<button type="submit">search</button>
</form>
<form id="searchResults" action="javascript:void(0);">
	<label for="selectDish">Select a dish</label>
	<select name="dishId" id="selectDish">
		<option value="">--choose a dish--</option>
	</select>
	<button type="submit">Select</button>
</form>
<link rel="stylesheet" href="/public/css/create/dish.css" />
<script
	src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"
></script>
<script src="/public/js/createDish.js"></script>