<form action="/create/dish/new" method="post">
	<label for="name">Dish name</label>
	<input type="text" name="name" id="name" />
	<button type="submit">create</button>
</form>
<link rel="stylesheet" href="/public/css/create/dish.css" />
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script
	src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"
></script>
<script src="/public/js/createNewDish.js"></script>