<form action="/create/restaurant/new" method="post">
	<label for="name">Restaurant name</label>
	<input type="text" name="name" id="name" />
	<label for="address">Restaurant address</label>
	<input type="text" name="address" id="address" />
	<button type="submit">create</button>
</form>
<link rel="stylesheet" href="/public/css/create/restaurant.css" />
<script
	src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"
></script>
<script src="/public/js/createNewRestaurant.js"></script>