<form id="searchRestaurant" action="javascript:void(0);">
	<label for="restaurantName">Search Restaurant name</label>
	<input type="text" name="restaurantName" id="restaurantName" />
	<button type="submit">search</button>
</form>
<form id="searchResults" action="javascript:void(0);">
	<label for="selectRestaurant">Select a restaurant</label>
	<select name="restaurantId" id="selectRestaurant">
		<option value="">--choose a restaurant--</option>
	</select>
	<button type="submit">Select</button>
</form>
<link rel="stylesheet" href="/public/css/create/restaurant.css" />
<script
	src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"
></script>
<script src="/public/js/createRestaurant.js"></script>