* {
	box-sizing: border-box;
}

body {
	background-color: #F3F5F5;
	margin: 0;
}

main {
	padding-left: 20%;
	padding-right: 20%;
}

nav {
	background-color: #1C609B;
	width: 100%;
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
}

nav div {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.buttons {
	background-color: #B6615B;
    color: #F3F5F5;
	text-decoration: none;
    padding: .25% 10px;
    border-radius: 2px;
    margin-right: 10px;
}