/* SCALABILITY */

form {
	font-size: max(14px, 2vh);
}

form input {
	font-size: max(14px, 1.9vh);
}

#setForm {
	font-size: max(14px, 1.5vh);
}

#reviewList {
	font-size: max(15px, 0.6vh);
}

a {
	font-size: max(14px, 1.5vh);
}

.badButton {
	background-color: red;
}

.ehButton {
	background-color: yellow;
}

p {
	font-size: max(14px, 1.4vh);
}

#content {
	font-size: max(13px, 0.6vh);
}

/* END SCALABILITY */

* {
	box-sizing: border-box;
}

:root {
	--gray: #f3f5f5;
	--blue: #1c609b;
	--light-blue: #90bcd6;
	--orange: #b6615b;
	--brown: #c29a76;
}

#nameofsite {
	font-family: "Brush Script MT", cursive;
	font-size: larger;
	font-weight: bolder;
	color: var(--orange);
	text-decoration: underline;
	text-decoration-color: var(--gray);
	text-decoration-style: wavy;
}

body {
	background-color: var(--gray);
	margin: 0;
}

main {
	padding-left: 20%;
	padding-right: 20%;
}

#title {
	font-size: 1.75vh;
}

select {
	font-size: 1.3vh;
}

button {
	font-size: 1.5vh !important;
}

nav {
	background-color: var(--blue);
	width: 100%;
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 2.2vh;
}

nav div {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.buttons {
	background-color: var(--orange);
	color: var(--gray);
	text-decoration: none;
	padding: 0.25% 10px;
	border-radius: 2px;
	margin-right: 10px;
}
