
.thumbnail{
  width: 200px; 
  height: 200px; 
  /* transform: scale(0.5); */
}

#errormsgs {
	position: relative;
	z-index: 10;
}

article {
	padding-top: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.review {
  background-color: var(--light-blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px var(--blue);
  font-family: Georgia;
  font-weight: bold;
}

li.review a {
  color: var(--orange);
  text-decoration: none;
  font-weight: bold;
  text-shadow: var(--brown);
}

li.review a:hover {
  text-decoration: underline;
}
